html, body {
    background-color: #666666;
    height: 100%;
    min-height: 100%;
    background-image: url("./images/icon.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    p {
        color: #ffccaa;
    }
}